<table>
	<tr>
		{% for field_name, options in export_fields %}
			<th>
				{% if options.label is not null %}
					{{ options.label }}
				{% else %}
					{{ field_name }}
				{% endif %}
			</th>
		{% endfor %}
	</tr>

	{% for entity in entities %}
		<tr>
			{% for field_name, options in export_fields %}
				<td>
					{% if options.type == 'text' %}
						{{ attribute(entity, field_name) }}
					{% elseif options.type == 'count' %}
						{{ attribute(entity, field_name) | length }}
					{% elseif options.type == 'boolean' %}
						{% set bool_value = attribute(entity, field_name) %}

						{% if bool_value %}
							Yes
						{% else %}
							No
						{% endif %}
					{% elseif options.type == 'relation' and options.relation_field is not null %}
						{% set relation_entity = attribute(entity, field_name) %}

						{{ attribute(relation_entity, options.relation_field) }}
					{% elseif options.type == 'entities_collection' and options.relation_field is not null %}
						{% set relation_entities = attribute(entity, field_name) %}

						{% for sub_entity in relation_entities %}
							{{ attribute(sub_entity, options.relation_field) }}{% if loop.last == false %},{% endif %}
						{% endfor %}
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>