<header class="main-header">
	<a href="{{ path('duf_admin_homepage') }}" class="logo">
		<span class="logo-mini">{{ site_name }}</span>
		<span class="logo-lg">{{ site_name }}</span>
	</a>
	
	<nav class="navbar navbar-static-top">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>

		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown messages-menu">
					{% set unread_messages = duf_messaging.getNumberOfUnreadConversations(app.user) %}

					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-envelope-o"></i>
						{% if unread_messages > 0 %}
							<span class="label label-success">{{ unread_messages }}</span>
						{% endif %}
					</a>

					<ul class="dropdown-menu">
						{% if unread_messages > 0 %}
							<li class="header">You have {{ unread_messages }} new messages</li>
						{% else %}
							<li class="header">You have no new messages</li>
						{% endif %}

						{% set last_unread_conversations = duf_messaging.getLastUnreadConversations(app.user) %}
						
						{% if unread_messages > 0 %}
							<li>
								<ul class="menu">
									{% for conversation in last_unread_conversations %}
										<li>
											<a href="{{ path('duf_admin_messaging_read', { conversation_id: conversation.id }) }}">
												<div class="pull-left">
													<img src="{{ asset('bundles/dufadmin/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
												</div>

												<h4>{{ conversation.subject }}<small><i class="fa fa-clock-o"></i> {{ conversation.lastMessageDate | date('Y/m/d H:i') }}</small></h4>
												<p>{{ conversation.lastMessageIntro }}</p>
											</a>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% endif %}

						<li class="footer">
							<a href="{{ path('duf_admin_messaging_index') }}">View All Messages</a>
							<a href="{{ path('duf_admin_messaging_new') }}">Compose New Message</a>
						</li>
					</ul>
				</li>

				<!-- Notifications: style can be found in dropdown.less -->
				<li class="dropdown notifications-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-bell-o"></i>
						{% if notifications | length > 1 %}<span class="label label-warning">{{ notifications | length }}</span>{% endif %}
					</a>

					<ul class="dropdown-menu">
						<li class="header">
							{% if notifications | length > 1 %}
								You have {{ notifications | length }} notification{% if notifications | length > 1 %}s{% endif %}
							{% else %}
								{{ 'header.notifications.empty' | trans }}
							{% endif %}
						</li>

						{% if notifications | length > 0 %}
							<li>
								<ul class="menu">
									{% for notificationClassCluster in notifications %}
										{% for notificationCluster in notificationClassCluster %}
											{% for notification in notificationCluster %}
												{% if notification.notificationType.name == 'new_user' %}
													<li>
														<a href="#">
															<i class="fa fa-users text-aqua"></i> joined on {{ notification.createdAt | date ('Y/m/d H:i') }}
														</a>
													</li>
												{% endif %}
											{% endfor %}
										{% endfor %}
									{% endfor %}
								</ul>
							</li>
						{% endif %}

						<li class="footer"><a href="#">View all</a></li>
					</ul>
				</li>

				<!-- Tasks: style can be found in dropdown.less -->
				<li class="dropdown tasks-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-flag-o"></i>
						{% if tasks | length > 0 %}
							<span class="label label-danger">{{ tasks | length }}</span>
						{% endif %}
					</a>

					<ul class="dropdown-menu">
						<li class="header">You have {{ tasks | length }} tasks</li>

						{% if tasks | length > 0 %}
							<li>
								<ul class="menu">
									{% for task in tasks %}
										<li>
											<a href="{{ path(duf_admin_routing.getEntityRouteName('DufAdminBundle:Task'), { path: duf_admin_routing.getRouteFromEntityName('DufAdminBundle:Task', duf_admin_routing.getContentType('DufAdminBundle:Task'), 'edit', task.id) }) }}">
												<h3>{{ task.name }}</h3>

												<div class="progress xs">
													<div class="progress-bar progress-bar-aqua" style="width: {{ task.progress }}%" role="progressbar" aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">{{ task.progress }}% Complete</span>
													</div>
												</div>
											</a>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% endif %}

						<li class="footer">
							<a href="{{ path('duf_admin_entity_index', { path: duf_admin_routing.getRouteFromEntityName('DufAdminBundle:Task', 'content', 'index') }) }}">
								View all tasks
							</a>

							<a href="{{ create_task_route }}">
								Create new task
							</a>
						</li>
					</ul>
				</li>

				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						{% if app.user.avatar is defined and app.user.avatar is not null %}
							<img src="{{ asset(app.user.avatar.path ~ '/' ~ app.user.avatar.filename) }}" class="user-image" alt="User Image">
						{% else %}
							<img src="{{ asset('bundles/dufadmin/img/default-user-160x160.jpg') }}" class="user-image" alt="User Image">
						{% endif %}

						<span class="hidden-xs">{{ app.user.firstname }} {{ app.user.lastname }}</span>
					</a>

					<ul class="dropdown-menu">
						<li class="user-header">
							{% if app.user.avatar is defined and app.user.avatar is not null %}
								<img src="{{ asset(app.user.avatar.path ~ '/' ~ app.user.avatar.filename) }}" class="img-circle" alt="User Image">
							{% else %}
								<img src="{{ asset('bundles/dufadmin/img/default-user-160x160.jpg') }}" class="img-circle" alt="User Image">
							{% endif %}

							<p>
								{{ app.user.firstname }} {{ app.user.lastname }}
								<small>Member since {{ app.user.createdAt | date('d/m/Y') }}</small>
							</p>
						</li>

						<li class="user-body">
							<div class="row">
								<div class="col-xs-4 text-center">
									<a href="#">Followers</a>
								</div>

								<div class="col-xs-4 text-center">
									<a href="#">Sales</a>
								</div>

								<div class="col-xs-4 text-center">
									<a href="#">Friends</a>
								</div>
							</div>
						</li>

						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Profile</a>
							</div>

							<div class="pull-right">
								<a href="{{ path('duf_admin_logout') }}" class="btn btn-default btn-flat">Sign out</a>
							</div>
						</li>
					</ul>
				</li>

				<li>
					<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
				</li>
			</ul>
		</div>
	</nav>
</header>