<aside class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				{% if app.user.avatar is defined and app.user.avatar is not null %}
					<img src="{{ asset(app.user.avatar.path ~ '/' ~ app.user.avatar.filename) }}" class="img-circle" alt="User Image">
				{% else %}
					<img src="{{ asset('bundles/dufadmin/img/default-user-160x160.jpg') }}" class="img-circle" alt="User Image">
				{% endif %}
			</div>

			<div class="pull-left info">
				<p>{{ app.user.firstname }} {{ app.user.lastname }}</p>
				<a href="#"><i class="fa fa-circle text-success"></i> {{ 'sidebar.online' | trans }}</a>
			</div>
		</div>

		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Search...">

				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</form>

		<ul class="sidebar-menu">
			<li class="header uppercase">{{ 'sidebar.dashboard' | trans }}</li>

			<li class="treeview">
				<a href="{{ path('duf_admin_homepage') }}">
					<i class="fa fa-dashboard"></i> <span>{{ 'sidebar.dashboard' | trans }}</span>
				</a>
			</li>

			<li class="treeview">
				<a href="{{ path('duf_admin_messaging_index') }}">
					<i class="fa fa-envelope"></i> <span>{{ 'sidebar.messaging' | trans }}</span>
				</a>
			</li>

			<li class="header uppercase">{{ 'sidebar.content' | trans }}</li>

			{% if entities is defined and entities is not null %}
				{% for entity_name, params in entities if params.sidebar_section is not defined %}
					{% include 'DufAdminBundle:Default:sidebar-entity-item.html.twig' %}
				{% endfor %}
			{% endif %}

			{% if ecommerce == true %}
				<li class="header uppercase">{{ 'sidebar.ecommerce' | trans }}</li>

				<li class="treeview">
					<a href="{{ path('duf_admin_ecommerce_index') }}">
						<i class="fa fa-dashboard"></i> <span>Dashboard</span>
					</a>
				</li>

				{# ECOMMERCE PRODUCTS LOOP #}
				{% if ecommerce_products is defined and ecommerce_products is not null %}
					<li class="treeview">
						<a href="#">
							<i class="fa fa-cart-plus"></i> <span>Products</span> <i class="fa fa-angle-left pull-right"></i>
						</a>

						<ul class="treeview-menu">
							{% for entity_name, params in ecommerce_products if params.sidebar_section is not defined %}
								{% include 'DufAdminBundle:Default:sidebar-entity-item.html.twig' %}
							{% endfor %}
						</ul>
					</li>
				{% endif %}

				{% if ecommerce_entities is defined and ecommerce_entities is not null %}
					{% for entity_name, params in ecommerce_entities if params.sidebar_section is not defined %}
						{% include 'DufAdminBundle:Default:sidebar-entity-item.html.twig' %}
					{% endfor %}
				{% endif %}

				{# ECOMMERCE TERRITORIES #}
				<li class="treeview">
					<a href="{{ path('duf_admin_ecommerce_territories') }}">
						<i class="fa fa-globe"></i> <span>{{ 'ecommerce.territories' | trans }}</span>
					</a>
				</li>

				{# ECOMMERCE CURRENCIES #}
				<li class="treeview">
					<a href="{{ path('duf_admin_ecommerce_currencies') }}">
						<i class="fa fa-money"></i> <span>{{ 'ecommerce.currencies' | trans }}</span>
					</a>
				</li>

				{# ECOMMERCE STORES LOOP #}
				{% if ecommerce_stores is defined and ecommerce_stores is not null %}
					<li class="treeview">
						<a href="#">
							<i class="fa fa-map-marker"></i> <span>Stores</span> <i class="fa fa-angle-left pull-right"></i>
						</a>

						<ul class="treeview-menu">
							{% for entity_name, params in ecommerce_stores if params.sidebar_section is not defined %}
								{% include 'DufAdminBundle:Default:sidebar-entity-item.html.twig' %}
							{% endfor %}
						</ul>
					</li>
				{% endif %}
			{% endif %}

			{# AGGREGATOR #}
			{% if aggregator == true %}
				<li class="header uppercase">{{ 'sidebar.aggregator' | trans }}</li>

				{% if aggregator_services is defined and aggregator_services is not null %}
					{% for service_name, service_config in aggregator_services %}
						<li class="treeview">
							<a href="{{ path('duf_admin_entity_index', { path: duf_admin_routing.getRouteFromEntityName('AggregatorAccount', 'content', 'index') }) }}?service={{ service_config.id }}">
								<i class="fa fa-{{ service_config.icon }}"></i> <span>{{ service_config.name }}</span>
							</a>
						</li>
					{% endfor %}
				{% endif %}
			{% endif %}

			{% for section_name, section_config in sections %}
				<li class="header uppercase">{{ section_name | trans }}</li>

				{% for entity_name, params in entities if params.sidebar_section is defined %}
					{% if params.sidebar_section == section_config.id %}
						{% if params.hidden is not defined or params.hidden == false or params.hidden is null %}
							{% if params.override_route is not defined %}
								{% set entity_link = path('duf_admin_entity_index', { path: duf_admin_routing.getRouteFromEntityName(entity_name, 'content', 'index') }) %}
							{% else %}
								{% set entity_link = path(params.override_route) %}
							{% endif %}

							<li class="treeview">
								<a href="{{ entity_link }}">
									<i class="fa {{ params.icon }}"></i> <span>{{ params.title }}</span>
								</a>
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}

			<li class="header uppercase">{{ 'sidebar.files' | trans }}</li>

			<li class="treeview">
				<a href="{{ path('duf_admin_file_index', { filetype: 'images' }) }}">
					<i class="fa fa-picture-o"></i> <span>Images</span>
				</a>
			</li>

			<li class="treeview">
				<a href="{{ path('duf_admin_file_index', { filetype: 'videos' }) }}">
					<i class="fa fa-video-camera"></i> <span>Videos</span>
				</a>
			</li>

			<li class="treeview">
				<a href="{{ path('duf_admin_file_index', { filetype: 'documents' }) }}">
					<i class="fa fa-file-o"></i> <span>Documents</span>
				</a>
			</li>

			<li class="header">USERS</li>

			<li class="treeview">
				<a href="{{ path('duf_admin_entity_index_users', { path: duf_admin_routing.getRouteFromEntityName(user_entity, 'users', 'index') }) }}">
					<i class="fa fa-user"></i> <span>Users</span>
				</a>
			</li>

			<li class="treeview">
				<a href="{{ path('duf_admin_entity_index_users', { path: duf_admin_routing.getRouteFromEntityName(user_role_entity, 'users', 'index') }) }}">
					<i class="fa fa-user-secret"></i> <span>Roles</span>
				</a>
			</li>

			<li class="header">LOCALIZATION</li>

			<li class="treeview">
				<a href="{{ path('duf_admin_entity_index_languages', { path: duf_admin_routing.getRouteFromEntityName('DufAdminBundle:Language', 'languages', 'index') }) }}">
					<i class="fa fa-language"></i> <span>Languages</span>
				</a>
			</li>

			<li class="treeview">
				<a href="#">
					<i class="fa fa-globe"></i> <span>Translations</span> <i class="fa fa-angle-left pull-right"></i>
				</a>

				<ul class="treeview-menu">
					<li><a href="{{ path('lexik_translation_overview') }}"><i class="fa fa-list"></i> Overview</a></li>
					<li><a href="{{ path('lexik_translation_grid') }}"><i class="fa fa-th"></i> Grid</a></li>
					<li><a href="{{ path('lexik_translation_new') }}"><i class="fa fa-plus"></i> Add</a></li>
					<li><a href="{{ path('lexik_translation_invalidate_cache') }}"><i class="fa fa-database"></i> Clear translation cache</a></li>
					<li><a href="{{ path('duf_admin_export_translations') }}"><i class="fa fa-download"></i> Export</a></li>
				</ul>
			</li>

			<li class="header">PARAMETERS</li>

			{% if is_granted('ROLE_ADMIN') %}
				<li class="treeview">
					<a href="#">
						<i class="fa fa-archive"></i> <span>Doctrine</span> <i class="fa fa-angle-left pull-right"></i>
					</a>

					<ul class="treeview-menu">
						<li><a href="{{ path('duf_admin_clear_cache', { type: 'doctrine' }) }}"><i class="fa fa-database"></i> Clear Doctrine cache</a></li>
						<li><a href="{{ path('duf_admin_update_doctrin_schema') }}"><i class="fa fa-database"></i> Update Doctrine schema</a></li>
					</ul>
				</li>

				<li class="treeview">
					<a href="{{ path('duf_admin_create_entity_index') }}">
						<i class="fa fa-database"></i> <span>Entity manager</span>
					</a>
				</li>
			{% endif %}

			<li class="treeview">
				<a href="{{ path('duf_admin_entity_index', { path: duf_admin_routing.getRouteFromEntityName('DufCoreBundle:DufCoreNotificationType', 'content', 'index') }) }}">
					<i class="fa fa-bell-o" aria-hidden="true"></i> <span>Notification Types</span>
				</a>
			</li>

			{% if sitemap is defined and sitemap == true %}
				<li class="treeview">
					<a href="{{ path('duf_core_sitemap') }}" target="_blank">
						<i class="fa fa-sitemap" aria-hidden="true"></i> <span>Sitemap</span>
					</a>
				</li>
			{% endif %}

			{% if cron is defined and cron == true %}
				<li class="treeview">
					<a href="#">
						<i class="fa fa-clock-o"></i> <span>{{ 'sidebar.cron' | trans }}</span> <i class="fa fa-angle-left pull-right"></i>
					</a>

					<ul class="treeview-menu">
						<li>
							<a href="{{ path('duf_admin_entity_index', { path: duf_admin_routing.getRouteFromEntityName('DufCoreBundle:DufCoreCronTask', 'content', 'index') }) }}">
								<i class="fa fa-clock-o"></i> {{ 'sidebar.cron.tasks' | trans }}
							</a>
						</li>

						<li>
							<a href="{{ path('duf_admin_cron_logs') }}">
								<i class="fa fa-history"></i> {{ 'sidebar.cron.logs' | trans }}
							</a>
						</li>
					</ul>
				</li>
			{% endif %}

			<li class="treeview">
				<a href="{{ path('duf_admin_phpinfo') }}">
					<i class="fa fa-info" aria-hidden="true"></i> <span>PHP info</span>
				</a>
			</li>

			<li class="header">PROJECT MANAGEMENT</li>

			<li class="treeview">
				<a href="{{ path('duf_admin_entity_index', { path: duf_admin_routing.getRouteFromEntityName('DufAdminBundle:Task', 'content', 'index') }) }}">
					<i class="fa fa-tasks" aria-hidden="true"></i> <span>Task Manager</span>
				</a>
			</li>

			{% if redmine is defined and redmine is not null %}
				<li class="treeview">
					<a href="{{ path('duf_admin_redmine_index') }}">
						<i class="fa fa-desktop" aria-hidden="true"></i> <span>Redmine</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</section>
</aside>