{% extends 'DufAdminBundle:Default:index.html.twig' %}

{% block main %}
	<div class="row">
		<form name="duf_admin_create_form" action="{{ path('duf_admin_entity_form_request', { path: duf_admin_routing.getRouteFromEntityName(entity_name, 'form-request/' ~ content_type, 'save') }) }}{% if aggregator_service is not null %}?service={{ aggregator_service }}{% endif %}" method="post">
			<div class="{% if seo_config is defined and seo_config is not null %}col-md-8{% else %}col-xs-12{% endif %}">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Create new {{ page_title }}</h3>

						<div class="pull-right box-tools">
							<a href="{{ path(duf_admin_routing.getEntityRouteName(entity_name), { path: duf_admin_routing.getRouteFromEntityName(entity_name, duf_admin_routing.getContentType(entity_name), 'index') }) }}">
								<p class="btn btn-default">Cancel</p>
							</a>

							<button class="btn btn-primary" id="save_btn">Save</button>
						</div>
					</div>

					<div class="box-body">
						{% if is_product is defined and true == is_product %}
							{% include 'DufECommerceBundle:Admin\\Crud:tabs.html.twig' %}
						{% elseif is_store is defined and true == is_store %}
							{% include 'DufECommerceBundle:Admin\\Crud:store.html.twig' %}
						{% else %}
							{% for form_property in form_properties %}
								{{ form_widget(attribute(create_form, form_property)) }}
							{% endfor %}
						{% endif %}
					</div>
				</div>

				{{ form_row(create_form.duf_admin_form_token) }}
				{{ form_row(create_form._token) }}

				{% if form_embed is defined and form_embed is not null and form_embed | length > 0 %}
					{% set is_new = true %}

					{% for embedded_form in form_embed  %}
						{% include 'DufAdminBundle:Crud:embed-form.html.twig' %}
					{% endfor %}
				{% endif %}
			</div>

			{% if seo_config is defined and seo_config is not null %}
				<div class="col-md-4">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">SEO</h3>

							{% include 'DufAdminBundle:Form:seo.html.twig' %}
						</div>
					</div>
				</div>
			{% endif %}
		</form>
	</div>
{% endblock %}

{% block additional_js %}
	<script>
		$(function () {
			$('textarea').each(function() {
				if (!$(this).hasClass('no-editor')) {
					CKEDITOR.replace($(this).attr('id'));
				}
			});

			$('.duf-admin-date').each(function() {
				$(this).datepicker({
					autoclose: true,
					format: 'd/m/yyyy',
				});
			});

			$('.duf-admin-datetime').each(function() {
            	$(this).datetimepicker({
            		format: 'd/m/Y H:i',
            	});
			});
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
            // set bootstrap switches
            $('input[type="checkbox"]').not('.category-checkbox').bootstrapSwitch({
            	onText: 'Yes',
            	offText: 'No',
            });

            // select2
            $('.select2').select2();
		});
	</script>
{% endblock %}

{% block javascript_footer %}
	{% if is_store is defined and true == is_store %}
		{% if gmap_key is defined and gmap_key is not null %}
			<script type="text/javascript" src='http://maps.google.com/maps/api/js?libraries=places&key={{ gmap_key }}'></script>
			<script src="{{ asset('bundles/dufadmin/js/locationpicker/locationpicker.jquery.js') }}"></script>
		{% endif %}
	{% endif %}
{% endblock %}