{% extends 'DufAdminBundle:Default:index.html.twig' %}

{% block main %}
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">{{ page_title }}</h3>
				</div>

				<div class="box-header">
					<a href="{{ create_route }}">
						<button class="btn btn-primary">Create new {{ page_title }}</button>
					</a>
				</div>

				<div class="box-body">
					<table id="duf-admin-index-table" class="table table-bordered table-hover">
						<thead>
							<tr>
								{% for header in headers %}
									<th>{{ header }}</th>
								{% endfor %}

								{# actions #}
								<th>Actions</th>
							</tr>
						</thead>

						<tbody>
							{% for entity in entities %}
								<tr>
									{% for property in properties %}
										{% set row_variable = attribute(entity, property.name) %}

										{% if property.relation_entity is not null %}
											{% set entity_relation 	= attribute(entity, property.name) %}
											{% if entity_relation is not null %}
												{% set row_variable = attribute(entity_relation, property.relation_index) %}
											{% endif %}
										{% endif %}

										<td>
											{% if row_variable.timestamp is defined and row_variable is not null %}
												{{ duf_admin_form.getPropertyPrefix(entity, property.name) }}{{ row_variable | date('d/m/Y H:i') }}{{ duf_admin_form.getPropertySuffix(entity, property.name) }}
											{% else %}
												{% if property.is_boolean is defined and true == property.is_boolean %}
													{% if true == row_variable or '1' == row_variable %}
														<span class="label label-success">{{ 'crud.boolean.label.true' | trans }}</span>
													{% else %}
														<span class="label label-danger">{{ 'crud.boolean.label.false' | trans }}</span>
													{% endif %}
												{% else %}
													{{ duf_admin_form.getPropertyPrefix(entity, property.name) }}{{ row_variable }}{{ duf_admin_form.getPropertySuffix(entity, property.name) }}
												{% endif %}
											{% endif %}
										</td>
									{% endfor %}

									{# actions #}
									<td>
										<a href="{{ path(duf_admin_routing.getEntityRouteName(entity_name), { path: duf_admin_routing.getRouteFromEntityName(entity_name, duf_admin_routing.getContentType(entity_name), 'edit', entity.id) }) }}">
											<button class="btn btn-primary">Edit</button>
										</a>

										<button class="btn btn-danger duf_admin_delete" data-confirm-message="Confirm delete ?" data-delete-path="{{ path('duf_admin_entity_delete', { id: entity.id, entity_name: entity_name }) }}">Delete</button>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block additional_js %}
	<link rel="stylesheet" href="{{ asset('bundles/dufadmin/plugins/datatables/dataTables.bootstrap.css') }}">
	<script src="{{ asset('bundles/dufadmin/plugins/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('bundles/dufadmin/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

	<script>
		$(function () {
			$('#duf-admin-index-table').DataTable({
				"paging": true,
				"lengthChange": false,
				"searching": false,
				"ordering": true,
				"info": true,
				"autoWidth": false
			});
		});
	</script>
{% endblock %}